*{
	margin: 0px;
	padding: 0px;
}

#container{
	width: 990px;
	margin:10px auto;
}
header{
	background-color: red;
	min-height: 80px;
}
#main{
	background-color: white;
	min-height: 300px;
	overflow: hidden;
}
#column1{
		background-color: blue;
		width: 690px;
		float: right;
		min-height: 300px;
}

#sidebar{
	background-color: #999;
	min-height: 300px;
	margin-right: 690px;
}

footer{
	background-color: green;
	min-height: 80px;
}